# Mac files
.DS_Store

# Thumbnails
._*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
venv/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache
